<div id="edited-content">
  <% @posts.reverse_each do |post| %>
      <p>
      <%= post.content %> <br>
      <% if current_user && current_user.email = "samanthatitewebber@gmail.com"%>
        <%= link_to 'Szerkeszt', edit_post_path(post) %>
        <%= link_to 'Törlés', post_path(post), method: :delete %>
        <br>
      <% end %>
      <br>
      ----------------------------------------------------------------------------------------------------------------------------------------------------------
      </p>
  <% end %>
</div>
<!--Szerkeszthető tartalom-->
<% if current_user && current_user.email = "samanthatitewebber@gmail.com" %>
  <%= form_tag posts_path, method: 'post' do |form| %>
    <%= text_area_tag :content, '', placeholder: 'Anya, ide írd amit a hírfolyamban akarsz látni!' %>
    <br>
    <%= button_tag 'Hozzáadás', class: "editor-btn"%>
  <% end %>
  <%= link_to "Kilépés", logout_path %>
<% end %>
