<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="hu"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="hu"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="hu"> <![endif]-->
<!--[if gt IE 8]><!-->
  <title>Antakya Török Büfé - Budaörs</title>
  <%= stylesheet_link_tag "antakyahome_mobile" %>
  <%= stylesheet_link_tag "antakyahome_tablet" %>
  <%= stylesheet_link_tag "antakyahome_full_screen" %>
</head>
  <header>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <!--Információk-->
    <h2>Antakya Török Büfé - Budaörs</h2>
    <pre>
    2040 Budaörs Szabadság út 55.
       Tel.:06 70 251 1255
    rendeles.antakya@gmail.com
    (még nem aktív a rendelés)</pre>
    <pre id="open_hours">
    <ins>Nyitvatartás:</ins>
    Hétfő      10:30-16:00
    Kedd       10:30-16:00
    Szerda     10:30-16:00
    Csütörtök  10:30-16:00
    Péntek     10:30-16:00
    Szombat    Zárva
    Vasárnap   Zárva</pre>
  </header>
