<!--Bejelentkező div-->
<div class="login-box">
  <p>Kérjük, hogy az egyéni kedvezményekhez és a gyorsabb rendeléshez jelentkezzen be. Ha nincs fiókja regisztráljon.</p>
  <button type="button" name="login" class="login" onclick="document.getElementById('id01').style.display = 'block'">Bejelentkezés</button>
  <%= button_to "Regisztráció", new_user_url, name: "registration-link", class: "registration-link", method: 'get' %>
</div>
<hr>

<!--Felugró bejelentkező ablak-->
<div class="modal" id="id01">
  <p id="alert"><%= alert %></p>

  <%= form_tag(sessions_path, class: "modal-content animate") do |form| %>
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display = 'none'" class="close" title="Close Modal">&times;</span> <!--X-gomb-->
      <img src="img_avatar.png" alt="avatár-kép" class="avatar"> <!--avatár-kép-->
    </div>
    <div class="container">
      <%= label_tag 'email', 'E-Mail' %>
      <%= text_field_tag 'email', nil, placeholder: 'Írja be az e-mail cimét!', required: true %>

      <%= label_tag 'password', 'Jelszó' %>
      <%= password_field_tag 'password', nil, placeholder: "Írja be a jelszavát!", required: true %>

      <%= submit_tag "Bejelentkezés", class: "bej" %>

      <%= label_tag 'remember', 'Emlékezz rám' %>
      <%= check_box_tag "remember", "yes" %>
    </div>

    <div class="container">
      <button type="button" onclick="document.getElementById('id01').style.display = 'none'" class="cancelbtn">Mégse</button>
      <span class="psw"><a href="###">Elfelejtette jelszavát?</a></span>
    </div>
  <% end %>
</div>
