<%= stylesheet_link_tag "antakya_order_mobile" %>
<%= stylesheet_link_tag "antakya_order_tablet" %>
<%= stylesheet_link_tag "antakya_order_full_screen" %>

<!--Táblázat-->
<div class="responsive">
  <%= form_for @order do |order_form| %>
    <%= render "#{@order.current_step}_step", order_form: order_form %>
    <br>
    <% if @order.last_step? %>
      <%= order_form.submit "Vissza", name:"back_button", class: "ord-btn" %>
      <%= order_form.submit "Rendelés", class: "ord-btn" %>
    <% end %>
  <% end %>
</div>
