<!DOCTYPE html>
<html lang=hu dir="ltr">
  <%= render "shared/header" %>
  <body>
    <%= render "shared/menu" %>
    <%= render "shared/login_registration" %>
    <%= yield %>
  </body>
  <%= render "shared/footer" %>
</html>
